<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.13.4/api/sum().js"></script>
    <script src="/js/datatable.js"></script>
</head>
<body>

<body style="background-color: #EBFEFF">
    <nav th:replace="fragments/fragment :: navbar(page = 'Penjualan')"></nav>

    <div class="h1 pt-4 text-center" style="font-weight: bolder">Laporan Penjualan</div>
<div class="container w-75 mx-auto">

    <div class=" mx-auto" style="width:90%">
        <div class="d-flex justify-content-between">
            <h2 th:text="'Laporan Penjualan Harian ' + ${date}"> </h2>
            <!-- <div class="my-auto">
                <a class="btn btn-info text-white">Unduh Laporan</a> -->
                <a class="btn btn-info text-white" th:href="@{/penjualan/laporan-penjualan}">Kembali</a>
            <!-- </div> -->
        </div>

       

        <table id="table_result" class="display table table-striped">
            <thead class="thead-dark" >
            <tr>
                <th scope="col"  class="text-center align-middle">Nama Obat</th>
                <th scope="col"  class="text-center align-middle">Jumlah Terjual</th>
                <th scope="col"  class="text-center align-middle">Harga Terjual</th>
            </tr>

            <tr class="bg-white">
                <td scope="col" id="search">Nama Obat</td>
                <td scope="col" id="search">Jumlah Terjual</td>
                <td scope="col" id="search">Harga Terjual</td>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Data 1</td>
                <td>Data 2</td>
                <td>Data 3</td>
            </tr>
            </tbody>

            <tfoot>
                <tr>
                    <th colspan="1" style="text-align:right"></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>

        </table>
    </div>
</div>
<input type="text" class="form-control" id="host" hidden th:value="${host}" />
<input type="text" class="form-control" id="tanggal" hidden th:value="${date}" />
<br><br>
</div>

<script th:inline="javascript">

    $(document).ready(

        function() {

            const host = $("#host").val();
            const date = $("#tanggal").val();
            // alert(date);

            $("#table_result").dataTable().fnDestroy();

            $('#table_result #search').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" class="form-control w-100" placeholder="Search ' + title + '" />');
            });

            var table = $('#table_result').DataTable({
                initComplete: function () {
                    this.api()
                        .columns()
                        .every(function () {
                            var that = this;

                            $('input', this.header()).on('keyup change clear', function () {
                                if (that.search() !== this.value) {
                                    that.search(this.value).draw();
                                }
                            });
                        });
                },

                "ajax": {
                    "url": "/api/v1/penjualan/harian",
                    "data" : { date: date },
                    "dataSrc": ''
                },
                "searching": true,
                "ordering": true,
                "autoWidth": false,

                "columns": [
                    {"data": "obat"},
                    {"data": "kuantitas"},
                    {"data": "harga"},
                ],

                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api();
         
                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ? i.replace(/[\Rp.]/g, '') * 1 : typeof i === 'number' ? i : 0;
                    };
         
                    // Total over all pages
                    total = api
                        .column(2)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
    
                    var totalAmount = 0;
                    for (var i = 0; i < data.length; i++) {
                        totalAmount += data[i].kuantitas;
                    }
         
                    // Update footer
                    $(api.column(0).footer()).html('Total:');
                    $(api.column(1).footer()).html(totalAmount);
                    $(api.column(2).footer()).html('Rp' + Number(total).toLocaleString("id-ID"));
                },
            });
        });
</script>

</body>
</html>