<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.13.4/api/sum().js"></script>
    <script src="/js/datatable.js"></script>
</head>
<body>

<body style="background-color: #EBFEFF">
<br>

<div class=" m-4">

    <div class=" mx-auto" style="width:90%">
        <div class="d-flex justify-content-between">
            <h2> Laporan Pendapatan Tahunan </h2>
            <!-- <div class="my-auto">
                <a class="btn btn-info text-white">Unduh Laporan</a>
            </div> -->
        </div>

        <div class="d-flex align-middle py-5">
            <label class="pe-3 pt-2">Pilih Tahun</label>
            <input type="year" class="form-control w-50" id="month">
        </div>

        <table id="table_result" class="display table table-striped">
            <thead class="thead-dark" >
            <tr>
                <th scope="col"  class="text-center align-middle">Bulan</th>
                <th scope="col"  class="text-center align-middle">Total Pendapatan</th>
            </tr>

            <tr class="bg-white">
                <td scope="col" id="search">Bulan</td>
                <td scope="col" id="search">Total Pendapatan</td>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Data 1</td>
                <td>Data 2</td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="1" style="text-align:right"></th>
                    <th></th>
                </tr>
            </tfoot>
            
        </table>
    </div>
</div>
<input type="text" class="form-control" id="host" hidden th:value="${host}" />

</div>

<script>
    
    $(document).ready(function () {

        const host = $("#host").val();
        var month = new Date().getFullYear();

        document.getElementById("month").value = month;
        
        $('#table_result #search').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" class="form-control w-100" placeholder="Search ' + title + '" />');
        });

        $('#table_result').DataTable({
            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        var that = this;

                        $('input', this.header()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that.search(this.value).draw();
                            }
                        });
                    });
            },

            "ajax": {
                "url": "/api/v1/penjualan/tahunan",
                "data" : { year: month },
                "dataSrc": ''
            },
    
            "searching": true,
            "ordering": true,
            "autoWidth": false,

            "columns": [
                {"data": "tanggal"},
                {"data": "total"},
            ],

            "footerCallback": function (row, data, start, end, display) {
                var api = this.api();
     
                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ? i.replace(/[\Rp.]/g, '') * 1 : typeof i === 'number' ? i : 0;
                };
     
                // Total over all pages
                total = api
                    .column(1)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
     
                // Update footer
                $(api.column(0).footer()).html('Total:');
                $(api.column(1).footer()).html('Rp' + Number(total).toLocaleString("id-ID"));
            },
        });

    });
</script> 

<script th:inline="javascript">
    $('#month').change(

        function() {
            const host = $("#host").val();
            const month = $(this).val();

            $("#table_result").dataTable().fnDestroy();

            $('#table_result #search').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" class="form-control w-100" placeholder="Search ' + title + '" />');
            });

            $('#table_result').DataTable({
                initComplete: function () {
                    this.api()
                        .columns()
                        .every(function () {
                            var that = this;

                            $('input', this.header()).on('keyup change clear', function () {
                                if (that.search() !== this.value) {
                                    that.search(this.value).draw();
                                }
                            });
                        });
                },

                "ajax": {
                    "url": "/api/v1/penjualan/tahunan",
                    "data" : { year: month },
                    "dataSrc": ''
                },
                // "aoColumnDefs": [
                //     {
                //         "targets": [2],
                //         "bSortable": false,
                //     },
                // ],
                "searching": true,
                "ordering": true,
                "autoWidth": false,

                "columns": [
                    {"data": "tanggal"},
                    {"data": "total"},
                ],

                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api();
         
                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ? i.replace(/[\Rp.]/g, '') * 1 : typeof i === 'number' ? i : 0;
                    };
         
                    // Total over all pages
                    total = api
                        .column(1)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
         
                    // Update footer
                    $(api.column(0).footer()).html('Total:');
                    $(api.column(1).footer()).html('Rp' + Number(total).toLocaleString("id-ID"));
                },
            });
        });
</script>

</body>
</html>