<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Daftar Obat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Urbanist' rel='stylesheet'>
   <object th:include="fragments/fragment :: css" th:remove="tag"></object>
   <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body style="background-color: #EBFEFF">
    <nav th:replace="fragments/fragment :: navbar(page = 'Obat')"></nav>
    <div class="container">
<div class="h1 p-4 m-4 text-center" style="font-family:Urbanist; font-weight: bolder">Daftar Obat</div>
    <div class="w-50 p-4" style="margin-left: 130px">
    <form th:action="@{/obat/filter-obat}" th:method="POST">
        <label style="font-family: Urbanist; font-weight: normal;">Kategori Obat</label>
        <div class="d-flex justify-content-between">
            <select class="form-control" name="no">
                <option style="font-family: Urbanist; font-weight: lighter" th:value="0" th:text="'Seluruh Obat'">

                </option>
                <option style="font-family: Urbanist; font-weight: lighter" th:each="kategori : ${listKategori}" th:value="${kategori.no}" th:text="${kategori.namaKategori}">
                </option>
            </select>
            <button class="btn align-content-center" style="font-family: Urbanist;background-color: #ADD8E6; margin-left: 10px"  type="submit" >Cari</button>
        </div>
    </form>
    </div>
<!--    <a th:href="@{/obat/input-obat}" class="big-button mx-2 btn btn-outline-primary" style="font-weight: bolder">Mulai Daftar Akun  &rarr;</a>-->
</div>
<div class="container" style="border-radius:0.25rem">
    <div class="card p-4" style="background-color: white; border-radius: 25px; margin-left: 150px; margin-right: 150px">
            <h4 class="text-center p-2 m-2" style="font-family:Urbanist;font-weight: bold" th:text="${judulKategoriObat}"></h4>
        <table class="p-3 m-1 table table-striped" style="outline-style: none">
            <thead style="background-color: #ADF6F6">
            <tr>
                <th style="font-family: Urbanist; font-weight: normal">No</th>
                <th style="font-family: Urbanist; font-weight: normal">ID Obat</th>
                <th style="font-family: Urbanist; font-weight: normal">Nama Obat</th>
                <th style="font-family: Urbanist; font-weight: normal">Harga</th>
                <th style="font-family: Urbanist; font-weight: normal">Bentuk Obat</th>
                <th style="font-family: Urbanist; font-weight: normal">Kategori</th>
                <th style="font-family: Urbanist; font-weight: normal">Asal Farmasi</th>
                <th style="font-family: Urbanist; font-weight: normal">Aksi</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="obat, iterationStatus:${listKategoriObat}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${obat.idObat}"></td>
                <td th:text="${obat.namaObat}"></td>
                <td th:text="${obat.harga}"></td>
                <td th:text="${obat.bentukObat}"></td>
                <td th:text="${obat.kategori.namaKategori}"></td>
                <td th:text="${obat.farmasi}"></td>
                <td>
                    <a class="btn btn-primary text-black" type="submit" th:href="@{/obat/detail-obat/} + ${obat.idObat}" style="background-color: #5FE7E7; border-color: #5FE7E7">Detail</a>
                    <a class="btn btn-primary text-black" style="background-color: #F0BF76; border-color: #F0BF76">Riwayat</a>
                </td>
            </tbody>
        </table>
    </div>
</div>
<br><br>
</body>
</html>