<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Obat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Urbanist' rel='stylesheet'>
  <!--    <object th:include="fragments/fragment :: css" th:remove="tag"></object>-->
  <!--    <object th:include="fragments/fragment :: js" th:remove="tag"></object>-->
</head>
<body style="background-color: #EBFEFF">
    <nav th:replace="fragments/fragment :: navbar(page = 'Obat')"></nav>

<div class="container m-5" style="border-radius:0.25rem">
    <div class="h1 p-4 m-4 text-center" style="font-family:Urbanist; font-weight: bolder">Detail Obat</div>
    <div class="card p-4" style="background-color: white; border-radius: 25px; margin-left: 150px; margin-right: 150px; margin-bottom: 30px">
    <div class="container p-3 m-1" >
    <div class="row">
        <div class="text-left col-8 h2" style="font-family:Urbanist;font-weight: bolder" th:text="${detailObat.namaObat}"></div>
        <div class="text-right col-4 h4" style="font-family:Urbanist;font-weight: bold" th:text="${detailObat.harga}"></div>
    </div>
        <div th:if="*{status == 'Tersedia'}">
            <a class="btn btn-primary text-black" style="background-color: #5FD2E7; border-color: #5FD2E7; margin-right: 10px; border-radius: 25px" th:text="${status}"></a>
            <a class="btn btn-primary text-black" style="background-color: #F0BF76; border-color: #F0BF76; margin-right: 10px; border-radius: 25px" th:text="${detailObat.getKategori().getNamaKategori()}"></a>
            <a class="btn btn-primary text-black" style="background-color: #5FD2E7; border-color: #5FD2E7; margin-right: 10px; border-radius: 25px" th:text="${detailObat.getBentukObat()}"></a>
            <a class="btn btn-primary text-black" style="background-color: #5FD2E7; border-color: #5FD2E7; margin-right: 10px; border-radius: 25px" th:text="${detailObat.getFarmasi()}"></a>
        </div>
        <div th:if="*{status == 'Kosong'}">
            <a class="btn btn-primary text-black" style="background-color: #ED6363; border-color: #ED6363; margin-right: 10px; border-radius: 25px" th:text="${status}"></a>
            <a class="btn btn-primary text-black" style="background-color: #F0BF76; border-color: #F0BF76; margin-right: 10px; border-radius: 25px" th:text="${detailObat.getKategori().getNamaKategori()}"></a>
            <a class="btn btn-primary text-black" style="background-color: #5FD2E7; border-color: #5FD2E7; margin-right: 10px; border-radius: 25px" th:text="${detailObat.getBentukObat()}"></a>
            <a class="btn btn-primary text-black" style="background-color: #5FD2E7; border-color: #5FD2E7; margin-right: 10px; border-radius: 25px" th:text="${detailObat.getFarmasi()}"></a> </div>
        </div>
        <div th:if="*{status == 'Tersedia'}">
            <table class="p-3 m-1 table table-striped" style="outline-style: none">
                <thead style="background-color: #ADF6F6">
                <tr>
                    <th style="font-family: Urbanist; font-weight: normal">No</th>
                    <th style="font-family: Urbanist; font-weight: normal">Kode Batch</th>
                    <th style="font-family: Urbanist; font-weight: normal">Nama Obat</th>
                    <th style="font-family: Urbanist; font-weight: normal">Status</th>
                    <th style="font-family: Urbanist; font-weight: normal">Stok</th>
                    <th style="font-family: Urbanist; font-weight: normal">Aksi</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="detail, iterationStatus:${statusObat}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${detail.obatDetailId.kodeBatch}"></td>
                    <td th:text="${detailObat.namaObat}"></td>
                    <td th:text="${detail.status}"></td>
                    <td th:text="${detail.stokTotal}"></td>
                    <td>
                        <a class="btn btn-primary text-black" style="background-color: #7698F0; border-color: #7698F0">Update</a>
                    </td>
                </tbody>
            </table>
            <a class="btn btn-primary text-black" type="submit" th:href="@{/obat/filter-obat/}" style="background-color: white; border-color: black; ">Kembali</a>

        </div>
        <div th:if="*{status == 'Kosong'}">
            <a class="btn btn-primary text-white" type="submit" style="background-color: #5FE7E7; border-color: #5FE7E7; margin-right: 10px">TAMBAH STOK</a>
            <a class="btn btn-primary text-white" type="submit" style="background-color: #F0BF76; border-color: #F0BF76; margin-right: 10px">ARSIPKAN</a>
            <a class="btn btn-primary text-white" type="submit" style="background-color: #ED6363; border-color: #ED6363; margin-right: 10px">HAPUS</a>
            <a class="btn btn-primary text-black" type="submit" th:href="@{/obat/filter-obat/}" style="background-color: white; border-color: black; margin-left: 145px">Kembali</a>
        </div>

</div>
</div>
</body>
</html>