<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar Penjualan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="/js/datatable.js"></script>
</head>
<body style="background-color: #EBFEFF">
  <nav th:replace="fragments/fragment :: navbar(page = 'Penjualan')"></nav><div class="d-flex justify-content-center">
  <div class="container m-4">
    <div class="mx-auto" style="width:90%">
      <div class="justify-content-center mx-auto">
        <div style="position: relative;">
            <h1 style="text-align: center;font-weight: bold">Daftar Penjualan Obat</h1>
        </div>
        <div class="mt-3" style="position: relative;">
          <a sec:authorize="hasAuthority('Karyawan')" style="position: absolute; top: 0; right: 0;border-radius: 10px;background-color: #7698F0; border-color: #7698F0;border-radius: 10px" th:href="@{/penjualan/add}" class="mx-2 btn btn-primary text-black">+Tambah Penjualan</a>
        </div>
      <br>
      <div class="mt-5" th:if="*{listPenjualan.size() != 0}">
        <table id="table_result" class="display table table-striped">
          <thead style="background-color: #ADF6F6">
            <tr>
              <th scope="col"  class="text-center align-middle">No</th>
              <th scope="col"  class="text-center align-middle">Kode</th>
              <th scope="col"  class="text-center align-middle">Tanggal</th>
              <th scope="col"  class="text-center align-middle">Waktu</th>
              <th scope="col"  class="text-center align-middle">Karyawan</th>
              <th scope="col"  class="text-center align-middle">Harga</th>
              <th scope="col"  class="text-center align-middle">Detail</th>
            </tr>
      
            <tr class="bg-white">
              <td scope="col"></td>
              <td scope="col" id="search">Kode</td>
              <td scope="col" id="search">Tanggal</td>
              <td scope="col" id="search">Waktu</td>
              <td scope="col" id="search">Karyawan</td>
              <td scope="col" id="search">Harga</td>
              <td></td>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr>
              <td></td>
              <td>Kode</td>
              <td>Tanggal</td>
              <td>Waktu</td>
              <td>Karyawan</td>
              <td>Harga</td>
              <td>Detail</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div th:unless="*{listPenjualan.size() != 0}">
        <h2 style="text-align: center;" th:text="'Tidak ada Penjualan'"></h2>
      </div>
    </div>
    <br><br>
  </div>
</div>

<script th:inline="javascript">
  $(document).ready(function () {

    $('#table_result #search').each(function () {
        var title = $(this).text();
        $(this).html('<input type="text" class="form-control w-100" placeholder="Search ' + title + '" />');
    });

    $('#table_result').DataTable({
        initComplete: function () {
            // Apply the search
            this.api()
                .columns()
                .every(function () {
                    var that = this;
 
                    $('input', this.header()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that.search(this.value).draw();
                        }
                    });
                });
        },

      "ajax": {
        "url": "/api/v1/penjualan/list-all",
        "dataSrc": ''
      },
      "bDestroy": true,

      "searching": true,
        "ordering": true,
        "columnDefs": [
        {
            "targets": [5],
            "bSortable": false
        }
        ],
        "columns": [
                {"data": null, "width": '10px', "render": function (data, type, full, meta) {
                  return meta.row + 1;}
                },
                {"data": "kode", width: '100px'},
                {"data": "tanggal", width: '100px'},
                {"data": "waktu", width: '100px'},
                {"data": "karyawan", width: '200px'},
                {"data": "harga", width: '150px'},
                {"data": null, width: '50px', defaultContent: '<button class="btn btn-primary" style="border-radius: 10px;padding-inline:20%">Detail</button>'}
            ]
        
    });

    $('#table_result tbody').on('click', 'button', function () {
        var $row = $(this).closest("tr");
        var id = $row.find('td:eq(1)').text();

        var url= "/penjualan/detail-penjualan/" + id;
        window.location = url;

    });

    
});
</script>

</body>
</html> 