<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Daftarkan Pengguna</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"> </script>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="bootstrap/js/bootstrap-modal.js"></script>
  <script src="bootstrap/js/bootstrap-transition.js"></script>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body style="background-color: #EBFEFF">
<nav th:replace="fragments/fragment :: navbar(page = 'Akun')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 class="text-center p-2 m-2" style="font-family:Urbanist;font-weight: bold">Formulir Pembuatan Akun</h2>
                <br>
                <form th:action="@{/pengguna/add}" th:object="${pengguna}" method="POST">
                    <label>
                        Nama Depan:
                    </label>
                    <input class="form-control" type="text" placeholder="cth: Ami" required th:field="*{namaDepan}"/>

                    <br>
                    <label>
                        Nama Belakang:
                    </label>
                    <input class="form-control" type="text" placeholder="cth: Smith" required th:field="*{namaBelakang}"/>

                    <br>
                    <label>
                        Email:
                    </label>
                    <input class="form-control" type="text" placeholder="cth: ami@mail.com" required th:field="*{email}"/>
                    
                    <br>
                    <label>
                        Nomor Telepon:
                    </label>
                    <input class="form-control" type="text" placeholder="cth: 081289898999" required th:field="*{nomorTelepon}" />
                    
                    <br>
                    <label>
                        Role:
                    </label>
                    <select name="role" th:value="*{role}" class="form-control">
                        <option value="Karyawan">Karyawan</option>
                        <option value="Apoteker">Apoteker</option>
                    </select>

                    <br>
                    <label>
                        Password:
                    </label>
                    <input type="password" value="pswd" id="myInput" required th:field="*{password}"/><br><br>
                    <input type="checkbox" onclick="myFunction()"> Tunjukkan Password

                    <script>
                        function myFunction() {
                            var x = document.getElementById("myInput");
                            if (x.type === "password") {
                                x.type = "text";
                            } else {
                                x.type = "password";
                            }
                        }
                    </script>

                    <br><br>


                    <div class="row gx-5">
                        <div class="col">
                            <a class="btn btn-primary float-right" style="background-color: white; border-color: #5FE7E7; color: #161A1E; font-family:Urbanist" href="/">Beranda</a>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary" style="background-color: #5FE7E7; border-color: #5FE7E7; color: white; font-family:Urbanist;font-weight: bold" type="submit">Simpan</button>
                        </div>
                    </div>

                </form>

               <div class="modal fade centered" id="myModal" role="dialog">
                               <div class="px-5 modal-dialog modal-dialog-centered text-center">
                                   <div class="modal-content">
                                       <div class="modal-header">
                                           <h4 class="modal-title text-center">Pengguna Baru Gagal Disimpan</h4>
                                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                                       </div>
                                       <div class="modal-body">
                                           <p>Silakan input ulang pengguna baru dengan email berbeda</p>
                           </div>
                           <div class="modal-footer">
                               <button type="button" class="btn btn-default" data-dismiss="modal">Oke</button>
                           </div>
                       </div>
                   </div>
               </div>

            </div>
        </div>
    </div>
</div>

<button th:if="${stat == 1}" id="btn" hidden data-toggle="modal" data-target="#myModal">Click me</button>

<script th:replace="fragments/fragment :: js"></script>
<script>
    document.getElementById("btn").click();
</script>
</body>
</html>