<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ubah Password</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"> </script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap-modal.js"></script>
    <script src="bootstrap/js/bootstrap-transition.js"></script>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Urbanist' rel='stylesheet'>
    <style>
        .required-field::after {
            content: "*";
            color: red;
        }
    </style>


</head>

<body style="background-color: #EBFEFF">
<nav th:replace="fragments/fragment :: navbar(page = 'Akun')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 class="text-center p-2 m-2" style="font-family:Urbanist;font-weight: bold">Ubah Password</h2>
                <br>
                <form th:action="@{/pengguna/update-password}" method="POST">

                    <div class="form-group">
                        <label class="font-weight-bold required-field">Password Lama</label>
                        <div class="input-group mb-3">
                            <input type="password" id="password-field" class="form-control input-sm" th:name="passwordlama" placeholder="password" required>
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon"><i class="far fa-eye" id="togglePassword" style="cursor: pointer;"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold required-field">Password Baru</label>
                        <div class="input-group mb-3">
                            <input type="password" id="password-field1" class="form-control input-sm" th:name="passwordbaru" placeholder="password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" required
                                   title="Password harus terdiri dari angka, huruf besar, huruf kecil, dan simbol [@$!%*?&] serta minimal memiliki 8 karakter">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon1"><i class="far fa-eye" id="togglePassword1" style="cursor: pointer;"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold required-field">Konfirmasi Password Baru</label>
                        <div class="input-group mb-3">
                            <input type="password" id="password-field2" class="form-control input-sm" th:name="passwordbaru1" placeholder="password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" required
                                   title="Password harus terdiri dari angka, huruf besar, huruf kecil, dan simbol [@$!%*?&] serta minimal memiliki 8 karakter"/>
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="far fa-eye" id="togglePassword2" style="cursor: pointer;"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="row gx-5">
                        <div class="col">
                            <a class="btn btn-primary float-right" style="background-color: white; border-color: #5FE7E7; color: #161A1E; font-family:Urbanist" href="/">Batal</a>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary" style="background-color: #5FE7E7; border-color: #5FE7E7; color: white; font-family:Urbanist;font-weight: bold" type="submit">Simpan</button>
                        </div>
                    </div>
                </form>

                <div class="modal fade centered" id="myModal" role="dialog">
                    <div class="px-5 modal-dialog modal-dialog-centered text-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title text-center">Password Gagal Diperbarui</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Silakan input ulang password lama dan baru dengan benar dan sesuai ketentuan</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Oke</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<button th:if="${stat == 0}" id="btn"  data-toggle="modal" data-target="#myModal">Click me</button>

<script th:replace="fragments/fragment :: js"></script>
<script>
    document.getElementById("btn").click();
</script>


<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password-field');

    togglePassword.addEventListener('click', function (e) {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });
</script>

<script>
    const togglePassword1 = document.querySelector('#togglePassword1');
    const password1 = document.querySelector('#password-field1');

    togglePassword1.addEventListener('click', function (e) {
        const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
        password1.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });
</script>

<script>
    const togglePassword2 = document.querySelector('#togglePassword2');
    const password2 = document.querySelector('#password-field2');

    togglePassword2.addEventListener('click', function (e) {
        const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
        password2.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });
</script>

</body>
</html>