<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Daftar Input Obat</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"> </script>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="bootstrap/js/bootstrap-modal.js"></script>
  <script src="bootstrap/js/bootstrap-transition.js"></script>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>


<body style="background-color: #EBFEFF">
  <nav th:replace="fragments/fragment :: navbar(page = 'Obat')"></nav>

<div class="container">
  <div class="h1 p-4 m-4 text-center" style="font-family:Urbanist; font-weight: bolder">Daftar Input Obat</div>
</div>
<div class="container" style="border-radius:0.25rem">
  <div class="card p-4" style="background-color: white; border-radius: 25px; margin-left: 150px; margin-right: 150px">
    <div th:if="*{role == 'Apoteker'}">
      <div th:if="*{status == 'isi'}">
        <h4 class="text-center p-2 m-2" style="font-family:Urbanist;font-weight: bold">Daftar Input Obat</h4>
        <table class="p-3 m-1 table table-striped" style="outline-style: none">
          <thead style="background-color: #ADF6F6">
          <tr>
            <th class="text-center" style="font-family: Urbanist; font-weight: bold">No</th>
            <th class="text-center" style="font-family: Urbanist; font-weight: bold">Kode Batch</th>
            <th class="text-center" style="font-family: Urbanist; font-weight: bold">Farmasi</th>
            <th class="text-center" style="font-family: Urbanist; font-weight: bold">Nama Obat</th>
            <th class="text-center" style="font-family: Urbanist; font-weight: bold">Tanggal Kadaluarsa</th>
            <th class="text-center" style="font-family: Urbanist; font-weight: bold">Jumlah Box</th>
            <th class="text-center" style="font-family: Urbanist; font-weight: bold">Satuan Per Box</th>
            <th class="text-center" style="font-family: Urbanist; font-weight: bold">Jumlah Per Box</th>
            <th class="text-center" style="font-family: Urbanist; font-weight: bold">Verifikasi</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="obat, iterationStatus:${listWaiting}">
            <td class="text-center" th:text="${iterationStatus.count}"></td>
            <td class="text-center" th:text="${obat.kodebatch}"></td>
            <td class="text-center" th:text="${obat.farmasi}"></td>
            <td class="text-center" th:text="${obat.namaobat}"></td>
            <td class="text-center" th:text="${obat.tanggalexp}"></td>
            <td class="text-center" th:text="${obat.jumlahbox}"></td>
            <td class="text-center" th:text="${obat.satuanperbox}"></td>
            <td class="text-center" th:text="${obat.jumlahperbox}"></td>
            <td>
              <button type="button" class="btn btn-primary" style="background-color: #F0BF76; border-color: #F0BF76; color: white; font-family:Urbanist;font-weight: bold" data-toggle="modal" th:data-target="|#userModal${iterationStatus.index}|">
                Update
              </button>
            </td>
          </tr>

            <div class="modal fade" th:id="|userModal${iterationStatus.index}|" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-center">
                      Apakah Anda akan mengonfirmasi bahwa data obat yang dimasukkan sudah benar?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary pull-left" data-dismiss="modal">Batalkan</button>
                      <a class="btn btn-danger" style="color: white; font-family:Urbanist;font-weight: bold" th:href="@{/}">Ajukan Revisi</a>
                      <a class="btn btn-primary" style="background-color: #7698F0; border-color: #7698F0; color: white; font-family:Urbanist;font-weight: bold" type="submit" th:href="@{/obat/obat-diterima/} + ${obat.obatDetailId} + '/' + ${obat.kodebatch}">Terima</a>
                    </div>
                  </div>
                </div>
              </div>
          </tbody>
        </table>
      </div>

      <div th:if="*{status == 'kosong'}">
        <h4 class="text-center p-2 m-2" style="font-family:Urbanist;font-weight: bold">Belum ada daftar obat yang harus diverifikasi statusnya</h4>
      </div>
    </div>

    <div th:if="*{role == 'Karyawan'}">
      <h4 class="text-center p-2 m-2" style="font-family:Urbanist;font-weight: bold">Daftar Input Obat</h4>
      <table class="p-3 m-1 table table-striped" style="outline-style: none">
        <thead style="background-color: #ADF6F6">
        <tr>
          <th class="text-center" style="font-family: Urbanist; font-weight: bold">No</th>
          <th class="text-center" style="font-family: Urbanist; font-weight: bold">Kode Batch</th>
          <th class="text-center" style="font-family: Urbanist; font-weight: bold">Farmasi</th>
          <th class="text-center" style="font-family: Urbanist; font-weight: bold">Nama Obat</th>
          <th class="text-center" style="font-family: Urbanist; font-weight: bold">Tanggal Kadaluarsa</th>
          <th class="text-center" style="font-family: Urbanist; font-weight: bold">Stok</th>
          <th class="text-center" style="font-family: Urbanist; font-weight: bold">Satuan Per Box</th>
          <th class="text-center" style="font-family: Urbanist; font-weight: bold">Jumlah Per Box</th>
          <th class="text-center" style="font-family: Urbanist; font-weight: bold">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="obat, iterationStatus:${listWaiting}">
          <td class="text-center" th:text="${iterationStatus.count}"></td>
          <td class="text-center" th:text="${obat.kodebatch}"></td>
          <td class="text-center" th:text="${obat.farmasi}"></td>
          <td class="text-center" th:text="${obat.namaobat}"></td>
          <td class="text-center" th:text="${obat.tanggalexp}"></td>
          <td class="text-center" th:text="${obat.stok}"></td>
          <td class="text-center" th:text="${obat.satuanperbox}"></td>
          <td class="text-center" th:text="${obat.jumlahperbox}"></td>
          <td class="text-center" th:text="${obat.statuskonfirmasi}"></td>
        </tr>
        </tbody>
      </table>
    </div>

<!--    <div class="modal fade centered" id="myModal" role="dialog">-->
<!--      <div class="px-5 modal-dialog modal-dialog-centered text-center">-->
<!--          <div class="modal-content">-->
<!--              <div class="modal-header">-->
<!--                <h4 class="modal-title text-center">Disetujui</h4>-->
<!--                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--              </div>-->
<!--              <div class="modal-body">-->
<!--                  <p>Obat Berhasil Disetujui</p>-->
<!--              </div>-->
<!--              <div class="modal-footer">-->
<!--                  <a class="btn btn-default" th:href="@{/obat-detail/waiting}">Kembali</a>-->
<!--                  <a th:href="@{/obat/data-obat}" class="px-5 m-3 bg-warning btn text-white">Lihat semua obat disetujui</a>-->
<!--              </div>-->
<!--          </div>-->
<!--      </div>-->
<!--    </div>-->


  </div>
</div>

<button th:if="${stat} == 1" hidden id="btn" data-toggle="modal" data-target="#myModal">Click me</button>
<script>
  document.getElementById('btn').click();
</script>

</body>

</html>